@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Questrial&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,100;1,300;1,700&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

:root {
    scroll-behavior: smooth;
}

.wrapper {
    width: 100vw;
    max-width: 1920px;
    overflow: hidden;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;

    .line {
        width: 83.15px;
        height: 2px;
        margin-bottom: 26px;
        background: #FAD264;

    }

    h2 {
        font-weight: bold;
        font-size: 36px;
        line-height: 44px;
        margin-bottom: 40px;

        text-align: center;
        text-transform: uppercase;

    }

    .header {
        width: 100%;
        height: 860px;
        background: url("../images/main-back.jpg");
        background-size: cover;
        background-position: center center;


        .header-items {
            width: 1000px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            padding-top: 25px;

            .header-logo {

                display: flex;
                align-items: center;


                img {
                    margin-top: -16px;
                    margin-right: 16px;
                }

                p {
                    width: 100%;
                    font-family: inherit;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 26px;
                    /* or 144% */

                    text-align: center;

                    color: #FFFFFF;
                }

                margin-bottom: 36px;
            }

            h1 {
                font-style: normal;
                font-weight: bold;
                font-size: 50px;
                line-height: 60px;
                text-align: center;
                text-transform: uppercase;
                width: 100%;
                color: #FFFFFF;

                mix-blend-mode: normal;
                margin-bottom: 24px;

                span {
                    color: #FAD264;
                }
            }

            .line {

                background: #FAD264;

            }

            p {

                font-size: 24px;
                line-height: 28px;
                text-align: center;
                font-weight: 400;
                width: 90%;
                color: #FFFFFF;


            }

            .reasons {
                width: 100%;
                padding-top: 41px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                .reason {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    width: 285px;
                    height: 125px;
                    background-color: #E5E5E5;
                    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
                    border-radius: 30px;

                    img {
                        position: absolute;
                        left: 45%;
                        top: -20px;

                    }

                    p {
                        font-size: 18px;
                        line-height: 21px;
                        display: flex;
                        align-items: center;
                        text-align: center;
                        padding-bottom: 20px;
                        padding-top: 20px;

                        color: #000000;
                    }
                }
            }

            .maraphon-date {
                padding-top: 40px;
                width: 65%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                img {
                    width: 26.84px;
                    height: 30px;
                }

                p {
                    font-size: 20px;
                    line-height: 24px;
                    width: 100%;

                    span {
                        color: #FCE559;
                    }
                }

            }

            .header-btns {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 55%;
                padding-top: 50px;
                padding-bottom: 20px;

                .btn {
                    width: 254px;
                    height: 56px;
                    background: #FFFFFF;
                    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
                    border-radius: 30px;
                    transition: background .3s ease-in;

                    &:hover {
                        background: #FAD264;
                    }
                }
            }

            .header-commit {
                font-size: 14px;
                font-weight: lighter;
                line-height: 24px;
                /* or 171% */

                text-align: center;
            }

            .subscribe-item {
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-top: 47px;

                img {
                    width: 58px;
                    height: 54.13px;
                }

                p {
                    font-size: 16px;
                    line-height: 19px;
                }
            }

        }

    }

    .maraphon-scheme {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-top: 90px;

        h2 {

            color: #320B61;
        }

        .line {
            background: #E130E3;
        }

        .day {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
            width: 1100px;
            margin-bottom: 100px;

            .day-header {
                display: flex;
                flex-direction: row;
            }

            .content {
                display: flex;
                flex-direction: row;
            }

            .day-head {
                height: 89px;
                display: flex;
                align-items: center;
                justify-content: center;

                h3 {
                    font-family: 'Lato', sans-serif;
                    font-style: normal;
                    font-weight: 900;
                    font-size: 20px;
                    line-height: 24px;
                    text-align: center;

                    text-transform: uppercase;
                }
            }

            .day-head.yellow {
                width: 284px;
                background: #FAD264;
                color: #42196D;
                margin: 0;
            }

            .day-head.purple {
                width: 826px;
                background: #320B61;
                margin: 0;
                color: #FFFFFF;
            }

            .day-img {
                width: 284px;

                img {

                    width: 90%;
                    margin-left: 10px;
                    margin-top: 40px;
                }
            }

            .day-content {

                width: 826px;
                padding-top: 30px;
                padding-bottom: 30px;

                h3 {
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 22px;
                    width: 80%;
                    margin: 0 auto;
                    margin-bottom: 25px;
                    font-feature-settings: 'tnum'on, 'lnum'on;
                }

                // ul{
                //     margin-left: 37px;
                // }
                .list-star {
                    list-style: url("/ezoterika/images/list-style-star.png");
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 21px;
                    width: 80%;

                    margin: 0 auto;
                    font-feature-settings: 'tnum'on, 'lnum'on;
                    margin-bottom: 33px;

                    li {


                        span {
                            font-weight: bold;
                        }

                    }

                    p {
                        display: inline-block;
                        margin-bottom: 16px;
                    }
                }

                .list-disc {
                    list-style-type: disc;
                    color: #42196D;
                    width: 90%;
                    width: 80%;
                    margin: 0 auto;

                    p {
                        color: #29242C;
                        font-size: 18px;
                        line-height: 21px;
                        /* identical to box height */

                        font-feature-settings: 'tnum'on, 'lnum'on;
                        margin-bottom: 16px;
                    }
                }
            }
        }
    }

    .getin-if {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #42196D;
        padding-bottom: 94px;

        h2 {
            padding-top: 82px;
            color: #FAD264;

        }

        .card-wrapper {
            width: 1100px;
            display: flex;
            justify-content: space-between;

            .card {
                width: 349px;

                .card-content {
                    background: #FFFFFF;
                    border-bottom-left-radius: 40px;
                    border-bottom-right-radius: 40px;
                    position: relative;
                    margin-bottom: 20px;
                    height: 480px;

                    h4 {
                        padding-top: 33px;
                        font-weight: bold;
                        font-size: 18px;
                        line-height: 22px;
                        text-align: center;
                        color: #292841;
                        mix-blend-mode: normal;
                        padding-bottom: 24px;
                    }

                    p {
                        font-weight: normal;
                        font-size: 18px;
                        line-height: 21px;
                        text-align: center;
                        color: #292841;
                        mix-blend-mode: normal;
                        padding-bottom: 24px;
                    }

                    .arrow {
                        position: absolute;
                        bottom: -20px;
                        left: 43%;
                    }
                }

                p {
                    font-weight: 300;
                    font-size: 18px;
                    line-height: 21px;
                    text-align: center;

                    color: #FFFFFF;

                    mix-blend-mode: normal;
                }

                ul {
                    margin-top: 20px;
                    margin-left: 40px;
                    width: 90%;
                    list-style: url("../images/card-list-marker.png");

                    p {
                        margin-bottom: 16px;
                    }
                }

            }
        }
    }

    .stages {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 80px;
        padding-bottom: 80px;
        background: #F6F6F6;

        h2 {
            color: #42196D;
        }

        .line {
            background: #E130E3;
        }

        h3 {
            font-size: 36px;
            line-height: 42px;
            text-align: center;
            margin-bottom: 60px;
            color: rgba(0, 0, 0, 0.8);
        }

        .stages-columns {
            display: flex;
            justify-content: space-between;
            width: 1100px;

            p {
                padding: 10px;
                font-weight: 300;
                font-size: 18px;
                line-height: 26px;
                /* or 144% */


                color: #060606;

                span {
                    font-weight: bold;
                }
            }

        }


    }


}

@media all and (max-width:1200px) {
    .wrapper {

        h2 {

            font-size: 36px;
        }

        .header {
            width: 100%;
            height: auto;

            .header-items {
                width: 90%;
                padding-bottom: 90px;

                .header-logo {
                    padding-top: 16px;
                    flex-direction: column;


                    img {
                        margin-top: -16px;
                        margin-right: 16px;
                        margin-bottom: 20px;
                    }


                    margin-bottom: 36px;
                }

                h1 {

                    font-size: 36px;

                }

                .reasons {

                    flex-wrap: wrap;

                    .reason {
                        margin: 0 auto;
                        margin-bottom: 32px;


                    }
                }



                .header-btns {
                    margin: 0 auto;
                    width: 75%;
                    flex-wrap: wrap;
                    justify-content: center;


                    .btn {
                        margin-bottom: 16px;
                    }
                }



                .subscribe-item {
                    width: 70%;
                    margin: 0 auto;

                    align-items: center;
                    justify-content: space-between;
                    padding-top: 47px;


                }

            }

        }

        .maraphon-scheme {
            .day {
                width: 80%;

            }

            .day .content {
                flex-direction: column;
            }

            .day .day-header {
                width: 100%;
                flex-direction: column;
            }

            .day .day-head.yellow {
                width: 100%;
            }

            .day .day-head.purple {
                width: 100%;
            }

            .day .day-img {
                display: flex;
                align-items: center;
                justify-content: center;
                width: auto;

                img {
                    width: 40%;
                }
            }

        }

        .getin-if {


            .card-wrapper {
                width: 80%;

                justify-content: space-evenly;
                flex-wrap: wrap;

                .card {
                    width: 300px;
                    margin: 10px;

                    .card-content {

                        height: 520px;

                        img {
                            width: 100%;
                        }


                        .arrow {

                            width: 44px;
                            height: 30px;
                        }
                    }


                    ul {
                        margin-top: 20px;
                        margin-left: 40px;
                        width: 90%;
                        list-style: url("../images/card-list-marker.png");

                        p {
                            margin-bottom: 16px;
                        }
                    }

                }
            }
        }

        .stages {


            .stages-img {
                width: 90%;
                margin: 0 auto;
            }

            h3 {

                width: 80%;
            }


            .stages-columns {

                justify-content: space-evenly;
                width: 90%;
                flex-direction: column;

                p {
                    margin: 0 auto;
                }

            }


        }


    }

}

@media all and (max-width:992px) {
    .wrapper h2 {
        width: 80%;
        font-size: 28px;
        margin: 0 auto;
    }

    .wrapper .maraphon-scheme .day .day-content {
        width: 90%;
        padding-left: 30px;
    }
}